th  {
    color:rgb(68, 10, 122)
}

table, th, td   {
    border-color: rgb(64, 136, 172);
    margin: 15px;
}

h1  {
    text-align: center;
    color: rgb(38, 4, 73);
}

h2  {
    text-align: center;
    color: rgb(58, 15, 176);
    font-style: italic;
}

h3  {
    text-align: center;
    color: rgb(15, 106, 176);
}

hr  {
    border-color: rgb(52, 122, 168);
}

li  {
    margin: 10px;
}
p {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashed-line { 
    border: 1px dashed rgb(52, 122, 168); 
}
body {
font-style: italic;
}